{% extends 'basefront.html.twig' %}

{% block title %}New Reclamation{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .merci-container {
            display: flex;
            flex-direction: column; /* Affichage en colonne pour aligner le bouton */
            justify-content: center;
            align-items: center;
            max-height: 400px;
            max-width: 600px;
            height: 80vh;
            background-color: orange;
            border-radius: 10px;
        }

        .merci-message {
            font-size: 3rem;
            text-align: center;
            border: 1px solid #ccc;
            padding: 2rem;
            color: white;
            border-radius: 10px;
        }

        .btn-reclamation {
            background-color: white; /* Couleur de fond */
            color: orange; /* Couleur du texte */
            border-color: orange; /* Couleur de la bordure */
            border-radius: 10px; /* Arrondi de bordure */
            padding: 10px 20px; /* Espacement du texte */
            font-size: 1.5rem;
            margin-top: 1rem; /* Espacement du bouton par rapport au message */
        }

        .btn-reclamation:hover {
            background-color: orange;
            color: white;
            border-color: white;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="merci-container">
        <div class="merci-message">
            merciii pour votre reclamation
        </div>
       <br>

    </div>

</div>

<div>
<a href="{{ path('app_reclamation_new') }}" onclick="window.location.href=this.getAttribute('href')" class="btn btn-reclamation">Nouvelle Réclamation</a>

<a href="{{ path('app_reclamation_reclamationclientemail', {'id': reclamation.id,'email': reclamation.email}) }}" onclick="window.location.href=this.getAttribute('href')" class="btn btn-reclamation">Voir mes réclamations</a>



</div>
{% endblock %}
