{% extends 'commande.html.twig' %}

{% block title %}New reservation{% endblock %}

{% block body %}
    <h1>Create new reservation</h1>

    {{ include('reservation/_form.html.twig') }}
    
    
{% endblock %}
