{% extends 'base.html.twig' %}

{% block title %}Paiement index{% endblock %}

{% block body %}

                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2" id="search">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    


<div id="all">
		{% include "paiement/ajax.html.twig" %}
	</div>
	<div  id="search"></div>

	



{% block javascript %}
    <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')}}"></script>
    <script>
        $(document).ready(function () {
var currentRequest = null;
$("#search").keyup(function (e) { 
var value = $(this).val();
if (currentRequest != null) {
currentRequest.abort();
}

currentRequest = $.ajax({
url: "{{ path('rechajax') }}",
type: 'GET',
data: {
'searchValue': value
},
success: function (retour) {
$('#all').html(retour);
}
});
return false;
});
});
    </script>
{% endblock %}
{% endblock %}