<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Dronify{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/assetsFront/img/favicon.ico">
 {% block stylesheets %}
    <!-- CSS here -->
    <link rel="stylesheet" href="/assetsFront/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assetsFront/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assetsFront/css/slicknav.css">
    <link rel="stylesheet" href="/assetsFront/css/animate.min.css">
    <link rel="stylesheet" href="/assetsFront/css/hamburgers.min.css">
    <link rel="stylesheet" href="/assetsFront/css/magnific-popup.css">
    <link rel="stylesheet" href="/assetsFront/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assetsFront/css/themify-icons.css">
    <link rel="stylesheet" href="/assetsFront/css/themify-icons.css">
    <link rel="stylesheet" href="/assetsFront/css/slick.css">
    <link rel="stylesheet" href="/assetsFront/css/nice-select.css">
    <link rel="stylesheet" href="/assetsFront/css/style.css">
    <link rel="stylesheet" href="/assetsFront/css/responsive.css">
    {% endblock %}
</head>
<body>
    <!--? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="/assetsFront/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header ">
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="index.html"><img src="/assetsFront/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="about.html">About</a></li>
                                                <li><a href="services.html">Services</a></li>
                                                <li><a href="projects.html">Projects</a></li>
                                                <li><a href="#">Offre</a>
                                                    <ul class="submenu">
                                                        <li><a href="{{path('of')}}">Offre</a></li>
                                                        <li><a href="blog_details.html">Blog Details</a></li>
                                                        <li><a href="elements.html">Element</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="contact.html">Contact</a></li>
                                                <!-- Header btn -->
                                                <li>
                                                    <div class="header-right-btn ml-40">
                                                        <a href="#" class="btn"><img src="/assetsFront/img/icon/smartphone.svg" alt="">+216 70 311 311</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div> 
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 hero-overly d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero__caption hero__caption2">
                                <h2>Voici Nos Offres Sur Les Transports</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!--? Blog Area Start-->
        <section class="blog_area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mb-5 mb-lg-0">
                    {% block body %}
        
        
        
        {% endblock %}
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog Area End -->
    </main>
    <footer>
        <div class="footer-wrapper section-bg2"  data-background="/assetsFront/img/gallery/footer-bg.png">
            <!-- Footer Start-->
            <div class="footer-area footer-padding">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-xl-4 col-lg-4 col-md-5 col-sm-7">
                            <div class="single-footer-caption mb-50">
                                <div class="single-footer-caption mb-30">
                                    <!-- logo -->
                                    <div class="footer-logo mb-35">
                                        <a href="index.html"><img src="/assetsFront/img/logo/logo2_footer.png" alt=""></a>
                                    </div>
                                    <div class="footer-tittle">
                                        <div class="footer-pera">
                                            <p>Duis aute irure dolor inasfa reprehenderit in voluptate velit esse cillum reeut cupidatatfug.</p>
                                        </div>
                                        <ul class="mb-40">
                                            <li class="number"><a href="#">(80) 783 367-3904</a></li>
                                            <li class="number2"><a href="#">contact@carwash.com</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="offset-xl-1 col-xl-2 col-lg-2 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Navigation</h4>
                                    <ul>
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="{{path('of')}}">Offre</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Services</h4>
                                    <ul>
                                        <li><a href="#">Drone Mapping</a></li>
                                        <li><a href="#"> Real State</a></li>
                                        <li><a href="#">Commercial</a></li>
                                        <li><a href="#">Construction</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <!-- social -->
                                <div class="footer-social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer-bottom area -->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="footer-border">
                        <div class="row">
                            <div class="col-xl-12 ">
                                <div class="footer-copy-right text-center">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Footer End-->
          </div>
      </footer>
      <!-- Scroll Up -->
      <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>
    <!-- JS here -->
    {% block js %}

    <script src="/assetsFront/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="/assetsFront/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/assetsFront/js/popper.min.js"></script>
    <script src="/assetsFront/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="/assetsFront/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="/assetsFront/js/owl.carousel.min.js"></script>
    <script src="/assetsFront/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="/assetsFront/js/wow.min.js"></script>
    <script src="/assetsFront/js/animated.headline.js"></script>
    <script src="/assetsFront/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src="/assetsFront/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="/assetsFront/js/jquery.nice-select.min.js"></script>
    <script src="/assetsFront/js/jquery.sticky.js"></script>
    
    <!-- counter , waypoint,Hover Direction -->
    <script src="/assetsFront/js/jquery.counterup.min.js"></script>
    <script src="/assetsFront/js/waypoints.min.js"></script>
    <script src="/assetsFront/js/jquery.countdown.min.js"></script>
    <script src="/assetsFront/js/hover-direction-snake.min.js"></script>

    <!-- contact js -->
    <script src="/assetsFront/js/contact.js"></script>
    <script src="/assetsFront/js/jquery.form.js"></script>
    <script src="/assetsFront/js/jquery.validate.min.js"></script>
    <script src="/assetsFront/js/mail-script.js"></script>
    <script src="/assetsFront/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="/assetsFront/js/plugins.js"></script>
    <script src="/assetsFront/js/main.js"></script>
    {% endblock %}
</body>
</html>